<a href="https://colab.research.google.com/github/Shaileshrao75/Data-Science-/blob/main/bagalkot_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading the library Function

In [ ]:
# prompt: /content/rabi.xlsx  load the excel file

library(readxl)
df <- read_excel("/content/rabi.xlsx")
head(df)

  year yield NOVEMBERT FEBRAUARYT MARCHT NOVEMBERH DECEMBERH MARCHH NOVEMBERN
1 2002 0.63  24.41     25.48      28.60  64.81     60.54     50.40  4178.541
2 2003 0.08  25.34     26.78      29.23  60.85     57.01     54.80  3566.976
3 2004 0.69  24.45     25.83      29.97  61.93     55.00     46.70  3445.540
4 2005 1.09  22.99     25.92      28.65  61.77     59.69     47.21  3894.718
5 2006 0.51  24.96     25.08      27.62  69.83     60.43     54.05  4254.572
6 2007 1.44  23.98     25.20      29.03  62.40     60.82     50.99  4375.213
  JANUARYN MARCHN
1 3509.471 2784.059
2 3651.380 2713.348
3 2779.729 2765.790
4 3103.729 2862.102
5 3241.159 2835.936
6 2998.929 2738.329

## Converting the data into MAtrix and Numeric

In [ ]:
# prompt: change the above matrix to numeric and

df[, c("NOVEMBERT", "FEBRAUARYT", "MARCHT", "NOVEMBERH", "DECEMBERH", "MARCHH", "NOVEMBERN", "JANUARYN", "MARCHN")] <- sapply(df[, c("NOVEMBERT", "FEBRAUARYT", "MARCHT", "NOVEMBERH", "DECEMBERH", "MARCHH", "NOVEMBERN", "JANUARYN", "MARCHN")], as.numeric)
head(df)
cor(df$yield, df[, c("NOVEMBERT", "FEBRAUARYT", "MARCHT", "NOVEMBERH", "DECEMBERH", "MARCHH", "NOVEMBERN", "JANUARYN", "MARCHN")])

  year yield NOVEMBERT FEBRAUARYT MARCHT NOVEMBERH DECEMBERH MARCHH NOVEMBERN
1 2002 0.63  24.41     25.48      28.60  64.81     60.54     50.40  4178.541
2 2003 0.08  25.34     26.78      29.23  60.85     57.01     54.80  3566.976
3 2004 0.69  24.45     25.83      29.97  61.93     55.00     46.70  3445.540
4 2005 1.09  22.99     25.92      28.65  61.77     59.69     47.21  3894.718
5 2006 0.51  24.96     25.08      27.62  69.83     60.43     54.05  4254.572
6 2007 1.44  23.98     25.20      29.03  62.40     60.82     50.99  4375.213
  JANUARYN MARCHN
1 3509.471 2784.059
2 3651.380 2713.348
3 2779.729 2765.790
4 3103.729 2862.102
5 3241.159 2835.936
6 2998.929 2738.329

     NOVEMBERT  FEBRAUARYT MARCHT     NOVEMBERH DECEMBERH MARCHH      NOVEMBERN
[1,] -0.2571901 -0.1686435 -0.1295021 0.3302294 0.5329732 -0.09150205 0.2480722
     JANUARYN  MARCHN
[1,] 0.0622377 0.3166649

## Summary of the selected data

In [ ]:
summary(df)

      year          yield          NOVEMBERT       FEBRAUARYT
 Min.   :2002   Min.   :0.0800   Min.   :22.99   Min.   :23.75
 1st Qu.:2007   1st Qu.:0.6900   1st Qu.:24.30   1st Qu.:25.20
 Median :2012   Median :1.0600   Median :24.58   Median :25.66
 Mean   :2012   Mean   :0.9695   Mean   :24.59   Mean   :25.68
 3rd Qu.:2017   3rd Qu.:1.2100   3rd Qu.:24.96   3rd Qu.:26.16
 Max.   :2022   Max.   :1.4400   Max.   :25.62   Max.   :27.39
     MARCHT        NOVEMBERH       DECEMBERH         MARCHH        NOVEMBERN
 Min.   :26.83   Min.   :55.31   Min.   :55.00   Min.   :42.89   Min.   :3446
 1st Qu.:28.47   1st Qu.:61.69   1st Qu.:59.45   1st Qu.:46.70   1st Qu.:4179
 Median :28.60   Median :64.81   Median :60.57   Median :50.40   Median :4375
 Mean   :28.67   Mean   :64.37   Mean   :60.88   Mean   :49.56   Mean   :4405
 3rd Qu.:29.19   3rd Qu.:66.47   3rd Qu.:61.91   3rd Qu.:52.53   3rd Qu.:4806
 Max.   :30.19   Max.   :75.87   Max.   :71.35   Max.   :57.48   Max.   :5465
    JANUARYN        MARCHN
 Min.   :2780   Min.   :2713
 1st Qu.:3222   1st Qu.:2836
 Median :3425   Median :2987
 Mean   :3440   Mean   :3078
 3rd Qu.:3577   3rd Qu.:3126
 Max.   :4224   Max.   :4684

## Remove the column named "year"

In [ ]:
# prompt: remove year column

df <- df[ , !(names(df) %in% c("year"))]
head(df)

  yield NOVEMBERT FEBRAUARYT MARCHT NOVEMBERH DECEMBERH MARCHH NOVEMBERN
1 0.63  24.41     25.48      28.60  64.81     60.54     50.40  4178.541
2 0.08  25.34     26.78      29.23  60.85     57.01     54.80  3566.976
3 0.69  24.45     25.83      29.97  61.93     55.00     46.70  3445.540
4 1.09  22.99     25.92      28.65  61.77     59.69     47.21  3894.718
5 0.51  24.96     25.08      27.62  69.83     60.43     54.05  4254.572
6 1.44  23.98     25.20      29.03  62.40     60.82     50.99  4375.213
  JANUARYN MARCHN
1 3509.471 2784.059
2 3651.380 2713.348
3 2779.729 2765.790
4 3103.729 2862.102
5 3241.159 2835.936
6 2998.929 2738.329

# Finding Correlation

In [ ]:
# prompt: find correlation

cor(df$yield, df[,c(2:10)])

     NOVEMBERT  FEBRAUARYT MARCHT     NOVEMBERH DECEMBERH MARCHH      NOVEMBERN
[1,] -0.2571901 -0.1686435 -0.1295021 0.3302294 0.5329732 -0.09150205 0.2480722
     JANUARYN  MARCHN
[1,] 0.0622377 0.3166649

#Linear Regression and its Summary

In [ ]:
# prompt: write linear regression code

model <- lm(yield ~ ., data = df)
summary(model)

Call:
lm(formula = yield ~ ., data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-0.36198 -0.09165 -0.02736  0.16219  0.34358

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  3.183e+00  4.997e+00   0.637   0.5372
NOVEMBERT   -2.380e-01  1.165e-01  -2.043   0.0657 .
FEBRAUARYT  -8.831e-02  1.163e-01  -0.760   0.4635
MARCHT       3.767e-02  1.217e-01   0.309   0.7627
NOVEMBERH    1.603e-02  2.042e-02   0.785   0.4492
DECEMBERH    5.209e-02  2.479e-02   2.101   0.0595 .
MARCHH      -4.592e-03  2.001e-02  -0.230   0.8227
NOVEMBERN    9.728e-05  1.635e-04   0.595   0.5640
JANUARYN    -2.634e-04  2.803e-04  -0.939   0.3677
MARCHN       4.318e-04  1.990e-04   2.170   0.0528 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.2542 on 11 degrees of freedom
Multiple R-squared:  0.7093,	Adjusted R-squared:  0.4714
F-statistic: 2.982 on 9 and 11 DF,  p-value: 0.0457

#Machine Learning Linear Regression

In [ ]:
# Install and load the necessary library
install.packages("caTools")
library(caTools)

# Set seed for reproducibility
set.seed(350)

# Read the dataset
df <- read_excel("/content/rabi.xlsx")

# Split the dataset into Training and Test sets
split <- sample.split(df$yield, SplitRatio = 0.8)
training_set <- df[split, ]
test_set <- df[!split, ]

# Train a linear regression model
regressor <- lm(yield ~ ., data = training_set)

# Display the model summary
summary(regressor)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Call:
lm(formula = yield ~ ., data = training_set)

Residuals:
       1        2        3        4        5        6        7        8
-0.05551 -0.05306  0.01693  0.12487  0.05873  0.12243  0.16703 -0.02365
       9       10       11       12       13       14       15       16
-0.27643 -0.08114 -0.09880 -0.07105  0.03470  0.02597 -0.08353  0.19251

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -5.356e+01  6.190e+01  -0.865   0.4264
year         3.200e-02  3.354e-02   0.954   0.3838
NOVEMBERT   -2.807e-01  1.363e-01  -2.060   0.0944 .
FEBRAUARYT   1.231e-01  1.397e-01   0.881   0.4186
MARCHT      -3.123e-01  1.946e-01  -1.605   0.1694
NOVEMBERH    3.114e-02  2.368e-02   1.315   0.2456
DECEMBERH    2.885e-02  2.848e-02   1.013   0.3576
MARCHH      -4.518e-03  2.920e-02  -0.155   0.8831
NOVEMBERN    1.003e-04  2.010e-04   0.499   0.6389
JANUARYN    -3.811e-05  3.437e-04  -0.111   0.9160
MARCHN      -3.565e-04  8.391e-04  -0.425   0.6886
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.2061 on 5 degrees of freedom
Multiple R-squared:  0.8858,	Adjusted R-squared:  0.6573
F-statistic: 3.877 on 10 and 5 DF,  p-value: 0.07394

# Machine Learning Linear Regression with Multicollinarity

In [ ]:
# prompt: result not satisfied write the optimal code with high r square value and low p value

# Install and load necessary libraries
if(!require(readxl)){install.packages("readxl")}
library(readxl)
if(!require(caTools)){install.packages("caTools")}
library(caTools)
if(!require(car)){install.packages("car")} # for vif
library(car)


# Load the dataset
df <- read_excel("/content/rabi.xlsx")

# Data preprocessing (example - adapt based on your data exploration)
df[, c("NOVEMBERT", "FEBRAUARYT", "MARCHT", "NOVEMBERH", "DECEMBERH", "MARCHH", "NOVEMBERN", "JANUARYN", "MARCHN")] <-
  sapply(df[, c("NOVEMBERT", "FEBRAUARYT", "MARCHT", "NOVEMBERH", "DECEMBERH", "MARCHH", "NOVEMBERN", "JANUARYN", "MARCHN")], as.numeric)

df <- na.omit(df) #remove rows with NA values

# Feature Engineering (example - consider creating interaction terms or polynomial features)

# Split the data
set.seed(123) #for reproducibility
split <- sample.split(df$yield, SplitRatio = 0.8)
training_set <- subset(df, split == TRUE)
test_set <- subset(df, split == FALSE)


# Model building with stepwise regression (example)
model_full <- lm(yield ~ ., data = training_set)

model_step <- step(model_full, direction = "both", trace = 0) #trace = 0 suppresses output

summary(model_step)

# Check VIF for multicollinearity
vif(model_step)


# Make predictions
y_pred <- predict(model_step, newdata = test_set)

# Evaluate model performance
rmse <- sqrt(mean((test_set$yield - y_pred)^2))
cat("RMSE:", rmse, "\n")
r_squared <- summary(model_step)$r.squared
cat("R-squared:", r_squared, "\n")

# Further improvements:
# 1. Thoroughly explore data for outliers and transformations. Log transform skewed data.
# 2. Consider non-linear relationships.
# 3. Explore other regression techniques like Random Forest or Gradient Boosting if linear models are not suitable

Call:
lm(formula = yield ~ year + NOVEMBERH + DECEMBERH + NOVEMBERN +
    JANUARYN + MARCHN, data = training_set)

Residuals:
      Min        1Q    Median        3Q       Max
-0.260536 -0.089655  0.009488  0.108396  0.271236

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) 50.5959054 27.9522278   1.810  0.10372
year        -0.0277809  0.0143653  -1.934  0.08514 .
NOVEMBERH    0.0235520  0.0190751   1.235  0.24821
DECEMBERH    0.0614501  0.0240530   2.555  0.03095 *
NOVEMBERN    0.0004158  0.0001438   2.891  0.01785 *
JANUARYN    -0.0007889  0.0002056  -3.838  0.00398 **
MARCHN       0.0006094  0.0001657   3.679  0.00508 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.2005 on 9 degrees of freedom
Multiple R-squared:  0.8182,	Adjusted R-squared:  0.6971
F-statistic: 6.753 on 6 and 9 DF,  p-value: 0.006033

     year NOVEMBERH DECEMBERH NOVEMBERN  JANUARYN    MARCHN
 3.170635  4.235245  4.346751  2.536731  2.127850  2.249656

RMSE: 0.4206261
R-squared: 0.8182449

# Removing One parameter did not improve Model

In [ ]:
# prompt: For the above remove NOVEMBERH    and year column and redo as per above

# Assuming df is already loaded and preprocessed as in the original code

# Remove "NOVEMBERH" and "year" columns if they exist
if ("NOVEMBERH" %in% names(df)) {
  df <- df[, !(names(df) %in% c("NOVEMBERH"))]
}

if ("year" %in% names(df)) {
  df <- df[, !(names(df) %in% c("year"))]
}

# Recalculate correlations after removing columns (if needed)
cor(df$yield, df[,c(2:9)]) # Adjust the column indices if necessary

# Rebuild the model without "NOVEMBERH" and "year"
model <- lm(yield ~ ., data = df)
summary(model)


# Splitting the data (adjust SplitRatio if needed)
set.seed(350)
split <- sample.split(df$yield, SplitRatio = 0.8)
training_set <- subset(df, split == TRUE)
test_set <- subset(df, split == FALSE)


# Stepwise regression (adjust direction if necessary)
model_full <- lm(yield ~ ., data = training_set)
model_step <- step(model_full, direction = "both", trace = 0)
summary(model_step)

vif(model_step) # Check VIF

# Predictions and evaluation
y_pred <- predict(model_step, newdata = test_set)
rmse <- sqrt(mean((test_set$yield - y_pred)^2))
cat("RMSE:", rmse, "\n")
r_squared <- summary(model_step)$r.squared
cat("R-squared:", r_squared, "\n")

     NOVEMBERT  FEBRAUARYT MARCHT     DECEMBERH MARCHH      NOVEMBERN JANUARYN
[1,] -0.2571901 -0.1686435 -0.1295021 0.5329732 -0.09150205 0.2480722 0.0622377
     MARCHN
[1,] 0.3166649

Call:
lm(formula = yield ~ ., data = df)

Residuals:
     Min       1Q   Median       3Q      Max
-0.33994 -0.12292 -0.01996  0.13661  0.32847

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  2.514e+00  4.845e+00   0.519  0.61328
NOVEMBERT   -2.250e-01  1.134e-01  -1.983  0.07070 .
FEBRAUARYT  -9.676e-02  1.139e-01  -0.850  0.41223
MARCHT       5.700e-02  1.173e-01   0.486  0.63569
DECEMBERH    6.693e-02  1.577e-02   4.244  0.00114 **
MARCHH       9.947e-05  1.879e-02   0.005  0.99586
NOVEMBERN    7.132e-05  1.576e-04   0.453  0.65893
JANUARYN    -2.471e-04  2.751e-04  -0.898  0.38667
MARCHN       4.205e-04  1.953e-04   2.153  0.05232 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.2501 on 12 degrees of freedom
Multiple R-squared:  0.693,	Adjusted R-squared:  0.4883
F-statistic: 3.386 on 8 and 12 DF,  p-value: 0.02837

Call:
lm(formula = yield ~ NOVEMBERT + FEBRAUARYT + MARCHT + DECEMBERH +
    MARCHH + NOVEMBERN, data = training_set)

Residuals:
     Min       1Q   Median       3Q      Max
-0.23914 -0.09393 -0.02115  0.11122  0.33806

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  6.9082760  3.7678983   1.833  0.09995 .
NOVEMBERT   -0.2162459  0.0878930  -2.460  0.03614 *
FEBRAUARYT   0.1404399  0.1240326   1.132  0.28678
MARCHT      -0.2930592  0.1363384  -2.149  0.06009 .
DECEMBERH    0.0723555  0.0152618   4.741  0.00106 **
MARCHH      -0.0246779  0.0160873  -1.534  0.15940
NOVEMBERN    0.0002072  0.0001146   1.808  0.10410
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.2096 on 9 degrees of freedom
Multiple R-squared:  0.7873,	Adjusted R-squared:  0.6455
F-statistic: 5.553 on 6 and 9 DF,  p-value: 0.01152

 NOVEMBERT FEBRAUARYT     MARCHT  DECEMBERH     MARCHH  NOVEMBERN
  1.134036   3.913523   4.325030   1.108377   1.688678   1.372644

RMSE: 0.49348
R-squared: 0.7873264

# Final view of Exel Data

In [ ]:
# prompt: View df

View(df)

   year yield NOVEMBERT FEBRAUARYT MARCHT NOVEMBERH DECEMBERH MARCHH NOVEMBERN
1  2002 0.63  24.41     25.48      28.60  64.81     60.54     50.40  4178.541
2  2003 0.08  25.34     26.78      29.23  60.85     57.01     54.80  3566.976
3  2004 0.69  24.45     25.83      29.97  61.93     55.00     46.70  3445.540
4  2005 1.09  22.99     25.92      28.65  61.77     59.69     47.21  3894.718
5  2006 0.51  24.96     25.08      27.62  69.83     60.43     54.05  4254.572
6  2007 1.44  23.98     25.20      29.03  62.40     60.82     50.99  4375.213
7  2008 1.21  24.30     25.56      27.08  60.19     61.60     57.48  4362.738
8  2009 1.06  24.89     26.40      28.51  67.87     61.00     51.26  4314.078
9  2010 1.14  25.21     26.30      29.73  75.87     66.02     52.47  4427.884
10 2011 0.92  24.37     24.61      28.47  61.69     59.86     52.53  4980.852
11 2012 1.28  24.31     25.52      28.57  66.20     60.57     48.02  4255.787
12 2013 0.97  24.19     26.20      29.19  66.09     59.45     51.41  4806.148
13 2014 0.98  24.15     24.90      27.79  65.32     62.98     54.47  4670.302
14 2015 0.85  25.62     23.75      26.83  62.94     58.84     48.29  4567.238
15 2016 0.48  24.08     27.39      30.19  55.31     55.25     43.40  4927.936
16 2017 1.16  24.58     25.87      28.45  66.47     63.23     43.90  3678.539
17 2018 0.69  25.47     25.08      28.74  59.53     61.91     44.88  4789.260
18 2019 1.33  25.33     26.16      29.49  72.59     71.35     42.89  3637.326
19 2020 1.40  24.58     25.58      28.60  70.00     66.84     52.81  5465.473
20 2021 1.27  24.59     25.66      28.67  64.82     61.18     49.89  4965.259
21 2022 1.18  24.60     26.10      28.60  55.31     55.00     42.89  4940.555
   JANUARYN MARCHN
1  3509.471 2784.059
2  3651.380 2713.348
3  2779.729 2765.790
4  3103.729 2862.102
5  3241.159 2835.936
6  2998.929 2738.329
7  3424.573 3300.968
8  3299.861 2899.253
9  4224.360 3126.209
10 3569.458 2987.404
11 3222.029 2807.941
12 3224.386 3029.785
13 3549.348 3298.441
14 3576.781 3090.603
15 3412.671 2918.173
16 3067.453 3084.070
17 3502.507 3101.730
18 3147.953 2841.601
19 4078.905 3295.799
20 4049.396 3471.809
21 3612.289 4684.246

# Xgboost Analysis

In [ ]:
# Install and load necessary packages
install.packages("xgboost")
install.packages("caTools")  # Required for sample.split
library(xgboost)
library(caTools)

# Assuming df is your prepared dataset (Ensure it contains 'yield' as the target column)

# Define features (X) and target (y)
X <- model.matrix(yield ~ ., data = df)[, -1]  # Exclude intercept column
y <- df$yield

# Split data into training and testing sets
set.seed(123)
split <- sample.split(y, SplitRatio = 0.8)  # Returns a logical vector
train_data <- X[split, , drop = FALSE]  # Use logical indexing
train_label <- y[split]
test_data <- X[!split, , drop = FALSE]
test_label <- y[!split]

# Convert data into xgboost format
dtrain <- xgb.DMatrix(data = as.matrix(train_data), label = train_label)
dtest <- xgb.DMatrix(data = as.matrix(test_data), label = test_label)

# Define xgboost parameters
params <- list(
  booster = "gbtree",
  objective = "reg:squarederror",  # Corrected objective function for regression
  eta = 0.1,
  gamma = 0,
  max_depth = 6,
  min_child_weight = 1,
  subsample = 0.8,
  colsample_bytree = 0.8,
  eval_metric = "rmse"
)

# Train the xgboost model
xgb_model <- xgb.train(
  params = params,
  data = dtrain,
  nrounds = 100,  # Adjust as needed
  watchlist = list(train = dtrain, test = dtest),
  print_every_n = 10
)

# Make predictions
predictions <- predict(xgb_model, dtest)

# Evaluate the model
rmse <- sqrt(mean((test_label - predictions)^2))
cat("RMSE:", rmse, "\n")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘bitops’

[1]	train-rmse:0.523084	test-rmse:0.576761
[11]	train-rmse:0.262838	test-rmse:0.325040
[21]	train-rmse:0.151670	test-rmse:0.277668
[31]	train-rmse:0.087011	test-rmse:0.275112
[41]	train-rmse:0.057422	test-rmse:0.281562
[51]	train-rmse:0.038833	test-rmse:0.289605
[61]	train-rmse:0.027335	test-rmse:0.293851
[71]	train-rmse:0.017883	test-rmse:0.295402
[81]	train-rmse:0.012405	test-rmse:0.296743
[91]	train-rmse:0.007776	test-rmse:0.297476
[100]	train-rmse:0.005586	test-rmse:0.298050
RMSE: 0.2980496

## Yardstick Method for analysis

In [ ]:
# Load necessary libraries
install.packages("yardstick")
library(yardstick)

# Define features (X) and target variable (y)
X <- model.matrix(yield ~ ., data = df)[, -1]  # Remove intercept column
y <- df$yield  # Assign target variable

# Train the Linear Model
model_step <- lm(yield ~ ., data = df)

# Calculate and display Linear Model Summary
linear_model_summary <- summary(model_step)

cat("\nLinear Model Summary:\n")
cat("R-squared:", linear_model_summary$r.squared, "\n")
cat("Adjusted R-squared:", linear_model_summary$adj.r.squared, "\n")
cat("F-statistic:", linear_model_summary$fstatistic[1], "on",
    linear_model_summary$fstatistic[2], "and",
    linear_model_summary$fstatistic[3], "DF, p-value:",
    pf(linear_model_summary$fstatistic[1],
       linear_model_summary$fstatistic[2],
       linear_model_summary$fstatistic[3], lower.tail = FALSE), "\n")

# Train XGBoost Model and make predictions
# Assuming xgb_model is your trained XGBoost model and test_label contains true values
r_squared_xgboost <- rsquared(data.frame(truth = test_label, estimate = predictions))

# Display XGBoost model summary
cat("\nXGBoost Model Summary:\n")
cat("R-squared:", r_squared_xgboost, "\n")
cat("Root Mean Squared Error (RMSE):", rmse, "\n")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘sparsevctrs’, ‘hardhat’

Linear Model Summary:
R-squared: 0.7092641
Adjusted R-squared: 0.4713892
F-statistic: 2.981669 on 9 and 11 DF, p-value: 0.04570449

ERROR: Error in rsquared(data.frame(truth = test_label, estimate = predictions)): could not find function "rsquared"