<a href="https://colab.research.google.com/github/Shaileshrao75/Data-Science-/blob/main/problem_number_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ABILITY ENHANCEMENT COURSE

#STATISTICSL LEARNING IN MANUFACTURING PROCESS

## DATA SELECTION FROM THE DATA BASE

##Selected Data Base named "cars"

In [ ]:
View(cars)

   speed dist
1   4      2
2   4     10
3   7      4
4   7     22
5   8     16
6   9     10
7  10     18
8  10     26
9  10     34
10 11     17
11 11     28
12 12     14
13 12     20
14 12     24
15 12     28
16 13     26
17 13     34
18 13     34
19 13     46
20 14     26
21 14     36
22 14     60
23 14     80
24 15     20
25 15     26
26 15     54
27 16     32
28 16     40
29 17     32
30 17     40
31 17     50
32 18     42
33 18     56
34 18     76
35 18     84
36 19     36
37 19     46
38 19     68
39 20     32
40 20     48
41 20     52
42 20     56
43 20     64
44 22     66
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85

## Measure of Central Tendency

## Mean

In [ ]:

# Mean of 'speed' and 'dist' columns
mean_speed <- mean(cars$speed)
mean_dist <- mean(cars$dist)

In [ ]:
mean_speed
mean_dist

[1] 15.4

[1] 42.98

## Median

In [ ]:
# Median of 'speed' and 'dist' columns
median_speed <- median(cars$speed)
median_dist <- median(cars$dist)

In [ ]:
median_speed
median_dist

[1] 15

[1] 36

## Correlation

In [ ]:
# prompt: correlation between variables

cor(cars$speed, cars$dist)
cor(cars)

[1] 0.8068949

      speed     dist
speed 1.0000000 0.8068949
dist  0.8068949 1.0000000

## Covariance

In [ ]:
# prompt: covarinance

cov(cars$speed, cars$dist)
cov(cars)

[1] 109.9469

      speed     dist
speed  27.95918 109.9469
dist  109.94694 664.0608

## Quartile

In [ ]:
# prompt: quartile

# Quantiles (Quartiles)
quantile_speed <- quantile(cars$speed)
quantile_dist <- quantile(cars$dist)
quantile_speed
quantile_dist

  0%  25%  50%  75% 100%
   4   12   15   19   25

  0%  25%  50%  75% 100%
   2   26   36   56  120

## Quartile with table

In [ ]:
# prompt: Quartile* with table

quantile(cars$speed, probs = c(0, 0.25, 0.5, 0.75, 1), type = 5)
quantile(cars$dist, probs = c(0, 0.25, 0.5, 0.75, 1), type = 5)
# Or use the summary() function:
summary(cars)

  0%  25%  50%  75% 100%
   4   12   15   19   25

  0%  25%  50%  75% 100%
   2   26   36   56  120

     speed           dist
 Min.   : 4.0   Min.   :  2.00
 1st Qu.:12.0   1st Qu.: 26.00
 Median :15.0   Median : 36.00
 Mean   :15.4   Mean   : 42.98
 3rd Qu.:19.0   3rd Qu.: 56.00
 Max.   :25.0   Max.   :120.00